<div style="text-align: center;">
<img alt="PCRM logo" src="https://nutritioncme.org/sites/default/files/pictures/pcrm_logo.png">
<h2 style="color:#005978;">Certificate of Completion</h2> 
This is to certify that
<h3 style="color:#005978;">
First Name Last Name
{#
{{ drupal_view('certificate_name_field', 'block_1') }}
#}
</h3>

</div>

